body {
    background-color:black;
    font-family: Arial;
    color: white;
}

h1 {
    color:grey;
    font-family: Verdana;
}

.maindiv {
    background-color: white;
    border-radius: 25px;
    color: black;
    width: 300px;
    padding: 20px;
    margin: auto;
}
